@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;  
}

.header {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FFFFFF;
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 0px 0px 9px 4px #919191;
}

.header .header-content {
    margin-left: 21px;
}

.header .header-content h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

.header .header-content h2 {
    font-size: 18px;
}

.content {
    margin: 108px 0 108px 0px;
}
.content .titulo {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #333333;
    margin-left: 18px;
}

.prato, .bebida, .sobremesa {
    height: 258px;
    width: 100%;
    margin-top: 27px;
}
.barra {
    height: 236px;
    margin-top: 7px;
    padding: 10px 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
}
.barra::-webkit-scrollbar {
    display: none;
  }
.opcao {
    min-width: 172px;
    max-width: 172px;
    height: 216px;
    background-color: #FFFFFF;
    padding: 18px 14px;
    border-radius: 9px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 8px -2px #919191;
}

.opcao h3 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.opcao h4 {
    font-size: 15px;
    color: #A6A6A6;
}
.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}
.opcao-footer {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.opcao-footer ion-icon {
    width: 19px;
    height: 19px;
    color:#32B72F;
    z-index: 0;
}

.comida1 img {
    width: 100%;
    height: auto;    
}

.footer {
    background-color: #FFFFFF;
    height: 92px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .button {
    width: 364px;
    background-color: #CBCBCB;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 25px;
    font-size: 20px;
    height: 61px;
}
.footer .button p {
    width: 195px;
    text-align: center;
}
.disponivel {
    background-color: #32B72F !important;
    transition-duration: 0.35s;
}

.selecionado {
    box-shadow: inset 0px 0px 0px 5px #32B72F, 0px 3px 6px 0px #4F4F4F;
}
.escondido {
    visibility: hidden;
}
.visivel {
    visibility: visible !important;
    transition-duration: 0.35s;
}
.trigger {
    position: absolute;
    bottom: 10;
    height: 61px;
    width: 364px;
}
.indisponivel {
    display: none;
}
.podeclicar {
    display: block !important;
}
.confirmarpedido {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: rgba(238, 238, 238, 0.9);
}
.dadosconfirmacao {
    background-color: #50D074;
    width: 90%;
    height: 353px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 300;
    margin: auto auto;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 5px #b6b6b6;
}
.confirm-organizer, .confirm-total {
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.header-confirm {
    margin: 15px 0;
}
.confirm-total {
    margin-bottom: 10px;
}
.dadosconfirmacao h2 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}
.dadosconfirmacao p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}
.confirm-button {
    background-color: #FFFFFF;
    width: 80%;
    height: 52px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
}
.cancel-button {
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-selection {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lang-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    height: 300px;
    border-radius: 30px;
}
.lang-title {
    height: 80px;
}
.lang-title h1 {
    margin-top: 20px;
    font-family: 'Righteous', cursive;
    font-size: 44px;
}
.lang-description {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.flags {
    display: flex;
}
.flags img {
    width: 100px;
    height: auto;
    margin: 15px 30px;
}